EXPO_PUBLIC_APP_ENV=mock
EXPO_PUBLIC_API_BASE_URL=https://api-dev.dogether.site
EXPO_PUBLIC_USE_MOCK_API=true
EXPO_PUBLIC_USE_MOCK_APP_INFO=true
EXPO_PUBLIC_USE_MOCK_AUTH=true
EXPO_PUBLIC_USE_MOCK_GROUPS=true
EXPO_PUBLIC_USE_MOCK_CHALLENGE_GROUPS=true
EXPO_PUBLIC_USE_MOCK_USER=true
EXPO_PUBLIC_USE_MOCK_REVIEW=true
EXPO_PUBLIC_APP_VERSION=1.0.0
EXPO_PUBLIC_APP_STORE_URL=https://apps.apple.com
